@font-face {
    font-family: 'Courier New', Courier, monospace;
    src: url(monospace);
}

body{
    padding: 35px;
}
:root{
    --var-global-color: teal;
    --var-global-text-color: rgb(100, 100, 100);

    ;
}
h1 {
    color: var(--var-global-color);
    font-size: 48px;
    font-weight: 600;
}

h2 {
    color: var(--var-global-color);
    font-size: 32px;
    font-weight: 600;
}

h3 {
    color: var(--var-global-color);
    font-size: 24px;
    font-weight: 600;
}

p{
    color: var(--var-global-text-color);
    font-size: 16px;
}

.big-title {
    background-color: rgb(226, 226, 226);
    text-align: center;
    padding: 20px;
}
.big-title:hover {
    background-color: rgb(240, 240, 240);
    text-align: center;
    padding: 20px;
}

.header-main-section {
    display: block;
    column-width: auto;
}
.header-main-section div, .header-main-section div li {
    width: 33,33%;
    max-width: 100%;
    padding: 20px;
    column-width: auto;
    display: inline-block;
}
